@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --layoutpadding: 3.4%;
  --layoutwidth: 96.5%;
  --layoutmargin: 1.5%;
  --color1: #2c2c2c;
  --color2: #93583f;
  --color3: #252424;
  --color4: #d3a188;
  --color5: #B88776;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  height: 100%;
  width: 100%;
  background-color: bisque;
}
.Outer-Wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}
nav {
  height: 10%;
  width: 100%;
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--layoutpadding);
  padding-right: var(--layoutpadding);
  position: fixed;
  z-index: 999;
  gap: 60px;
}
li {
  color: white;
  width: fit-content;
  height: 60%;
  list-style-type: none;
}
.quicklinks {
  display: flex;
  gap: 40px;
}
.logo img {
  height: 40px;
}
.href {
  text-decoration: none;
  color: white;
}
.href:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--color2);
  transition: all 0.2s;
}
/* contacts of navbar */
.Whatsapp {
  color: var(--color4);
  font-size: larger;
}
.phone {
  background-color: var(--color1) !important;
  width: 150px !important;
}
#telephone {
  color: var(--color4);
}
.number {
  margin-left: 5px;
  color: white;
}
.navcontacts {
  display: flex;
  align-items: center;
  background-color: var(--color1);
  color: var(--color2);
  gap: 15px;
}
.hero {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .carouselContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: black;
  opacity: 0.2;
}
.carousel .text {
  position: absolute;
  width: 100%;
  color: white;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}
.carousel .text h1 {
  font-size: 2rem;
  margin-bottom: 2vw;
}
.carousel .text p {
  font-size: 1.5rem;
  margin-bottom: 2vw;
}
.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  width: 100%; /* width will auto-expand to fit slides */
}
.carousel {
  flex: 0 0 100%; /* Each slide takes 100% of container width */
  height: 100%;
}
.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.controler {
  position: absolute;
  height: 4vh;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.bars {
  position: relative;
  height: 1vh;
  width: 5vw;
  background-color: rgba(240, 248, 255, 0.189);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  z-index: 100;
}
/* .bars::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
} */

.featureProperty {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featureProperty .header {
  width: var(--layoutwidth);
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--layoutmargin);
}
.propertyOptions {
  width: var(--layoutwidth);
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}
.propertyOptions h1 {
  font-weight: 500;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: all 0.2s;
}
.propertyOptions h1:hover {
  color: var(--color2);
  border-bottom: 2px solid var(--color2);
}
.propertyOptions .active {
  color: var(--color2);
  border-bottom: 2px solid var(--color2);
}
.propertyContainer {
  height: fit-content;
  width: var(--layoutwidth);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--layoutwidth);
}
.propertyContent {
  width: var(--layoutwidth);
  height: 90%;
  display: flex;
  justify-content: space-between;
}
.tabActive {
  display: flex;
}
.Prop {
  width: 31%;
  height: fit-content;
  background-color: white;
}
.carousel1 {
  height: 45%;
  width: 100%;
  flex: 0 0 100%; /* Each slide takes 100% of container width */
  height: 100%;
}
.carousel1 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.carouselContainer1 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel-track1 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  width: 100%; /* width will auto-expand to fit slides */
}
.sidebuttons {
  position: absolute;
  height: 4vh;
  width: 90%;
  left: 5%;
  bottom: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
.arrow{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 3vw;
  opacity: 0.5;
  background-color: rgba(55, 64, 71, 0.334);
  border: solid white 1px;
  overflow: hidden;
  cursor: pointer;
  z-index: 100;
}
.arrow:hover {
  opacity: 1;
  border: none;
  background-color: var(--color5);
}
.info {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 1vh 2vw;
  border: 1px solid slategray;
  border-top: none;
}
.info a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.loc0 {
  text-transform: uppercase;
}
.loc {
  text-transform: capitalize;
  color: var(--color2) !important;
}
.loc1:hover {
  text-transform: none !important;
  color: var(--color2);
}
.icon {
  margin-right: 10px;
}
a:hover {
  text-decoration: underline;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
p {
  display: flex;
  align-items: center;
}
.details p span {
  font-weight: 700;
  padding-left: 1vh;
}
.icon0 {
  padding-left: 2vh;
}
.loc2 {
  font-weight: 500 !important;
  text-decoration: none !important;
}
.loc2:hover {
  cursor: pointer;
  color: var(--color2);
}
h3 {
  font-size: x-large;
}
.details a {
  text-transform: capitalize;
  font-size: 1p;
}
.buttons {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 2vw;
  border: 1px solid slategray;
}
.buttons-group {
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.buttons-group img {
  margin-bottom: 2px;
}
.buttons p:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* For villas and apartments of FeatureProperty */
.info1 {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 1vh 2vw;
  border: 1px solid slategray;
  border-top: none;
}
.info1 a {
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.Price {
  font-size: x-large;
  font-weight: 700;
}
.investProperty {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.investPropertyHead {
  width: var(--layoutwidth);
  height: 10%;
  background-color: rgb(27, 153, 34);
  margin-top: var(--layoutmargin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.investContainer {
  width: var(--layoutwidth);
  height: 80%;
  background-color: rgb(66, 0, 189);
}
.invest:nth-child(1) {
  width: 100%;
  height: 50%;
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.invest:nth-child(2) {
  width: 100%;
  height: 50%;
  background-color: chartreuse;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.photo1:nth-child(1) {
  height: 90%;
  width: 30%;
  background-color: rgb(160, 16, 64);
}
.photo1:nth-child(2) {
  height: 90%;
  width: 30%;
  background-color: rgb(46, 32, 58);
}
.photo1:nth-child(3) {
  height: 90%;
  width: 30%;
  background-color: rgb(94, 43, 60);
}
.photo2:nth-child(1) {
  height: 90%;
  width: 30%;
  background-color: rgb(160, 16, 64);
}
.photo2:nth-child(2) {
  height: 90%;
  width: 30%;
  background-color: rgb(46, 32, 58);
}
.photo2:nth-child(3) {
  height: 90%;
  width: 30%;
  background-color: rgb(94, 43, 60);
}
.availableProp {
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.availablePropHead {
  width: var(--layoutwidth);
  height: 10%;
  background-color: rgb(209, 118, 168);
  margin-top: var(--layoutmargin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.availablePropContainer {
  width: var(--layoutwidth);
  height: 90%;
  background-color: rgb(18, 113, 221);
  display: flex;
  justify-content: space-between;
}
.property:nth-child(1) {
  height: 100%;
  width: 35%;
  background-color: rgb(82, 31, 7);
}
.property:nth-child(2) {
  height: 100%;
  width: 64%;
  background-color: rgb(69, 69, 139);
}
.text1 {
  background-color: aquamarine;
  height: 42.5%;
  width: 100%;
}
.heading {
  height: 15%;
  width: 100%;
  background-color: rgb(116, 51, 51);
}
.text2 {
  background-color: rgb(6, 25, 43);
  height: 42.5%;
  width: 100%;
}
.contactUs {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactUsHeading {
  width: var(--layoutwidth);
  height: 10%;
  background-color: rgb(52, 16, 136);
  margin-top: var(--layoutmargin);
  display: flex;
  align-items: center;
  justify-items: start;
}
.formContainer {
  width: var(--layoutwidth);
  height: 90%;
  background-color: rgb(18, 113, 221);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact:nth-child(1) {
  height: 80%;
  width: 32%;
  background-color: rgb(7, 7, 61);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact:nth-child(2) {
  height: 80%;
  width: 32%;
  background-color: rgb(41, 7, 61);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact:nth-child(3) {
  height: 80%;
  width: 32%;
  background-color: rgb(7, 55, 61);
  display: flex;
  flex-direction: column-reverse;
}
.contact:nth-child(1) span {
  width: 100%;
  height: 53%;
  background-color: rgb(94, 62, 13);
  display: block;
}
.contact:nth-child(2) span {
  width: 100%;
  height: 53%;
  background-color: rgb(17, 142, 180);
  display: block;
}
input {
  height: 40%;
  width: 100%;
  border: solid rgba(0, 0, 0, 0.144) 1.5px;
}
.contact:nth-child(3) button {
  background-color: greenyellow;
  width: 100%;
  height: 45%;
  border: none;
}
.contact:nth-child(3) button:hover {
  cursor: pointer;
}
.useArticles {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.useArticlesHead {
  width: var(--layoutwidth);
  height: 10%;
  background-color: rgb(20, 6, 51);
  margin-top: var(--layoutmargin);
  display: flex;
  align-items: center;
  justify-content: center;
}
.useArticlesSubHead {
  width: var(--layoutwidth);
  height: 10%;
  background-color: rgb(25, 128, 93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.useArticlesContainer {
  width: var(--layoutwidth);
  height: 80%;
  background-color: rgb(17, 68, 51);
  display: flex;
  justify-content: space-between;
}
.footer {
  width: 100%;
  height: 90%;
  margin-top: var(--layoutmargin);
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-family: "Montserrat";
}
.footerhead {
  background-color: rgb(10, 33, 46);
  height: 30%;
  width: var(--layoutwidth);
  border-bottom: solid rgba(190, 15, 15, 0.384);
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  background-color: aliceblue;
  height: 90%;
  width: 30%;
}
.footermid1 {
  background-color: rgb(18, 83, 121);
  height: 20%;
  width: var(--layoutwidth);
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: solid rgba(190, 15, 15, 0.384);
}
.search {
  height: 35%;
  width: 20%;
  background-color: black;
  display: flex;
  align-items: center;
  margin-right: 3%;
}
.search button {
  height: 100%;
  width: 20%;
  background-color: black;
  border: 0;
}
.search button:hover {
  cursor: pointer;
}
i {
  color: rgb(221, 165, 9);
}
input {
  height: 100%;
  background-color: black;
  outline: none;
}
.phone {
  height: 35%;
  width: 20%;
  background-color: rgb(4, 21, 37);
  display: flex;
  margin-right: 3%;
}
.part1 {
  background-color: rgb(9, 150, 79);
  width: 100%;
  height: 50%;
}
.part1 {
  background-color: rgb(25, 255, 144);
  width: 100%;
  height: 50%;
}
.contact2 {
  height: 35%;
  width: 20%;
  background-color: rgb(4, 21, 37);
  display: flex;
  flex-direction: column;
}
.footermid2 {
  background-color: rgb(58, 110, 139);
  height: 45%;
  width: var(--layoutwidth);
  display: flex;
  align-items: center;
}
.Navigation,
.RealEstate,
.Types,
.Area {
  height: 70%;
  width: 20%;
  background-color: black;
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  justify-content: space-between;
}
.head {
  height: 25%;
  width: 100%;
  background-color: rgb(42, 70, 133);
  border: 0;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 800;
}
ul {
  height: 63%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul li {
  width: 100%;
  height: 13%;
  background-color: aquamarine;
}
.search button:hover {
  cursor: pointer;
}
i {
  color: rgb(221, 165, 9);
}
input {
  height: 100%;
  background-color: black;
  outline: none;
}
.part1 {
  background-color: rgb(9, 150, 79);
  width: 100%;
  height: 50%;
}
.part1 {
  background-color: rgb(25, 255, 144);
  width: 100%;
  height: 50%;
}
.footerdown {
  background-color: rgb(86, 115, 133);
  height: 5%;
  width: var(--layoutwidth);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 70%;
  font-weight: 900;
}
